.paging {
    margin: 0px;
    width: 608px;
    height: 50px;
    background-color: lightgray;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.buttons-position{ 
    float: right;
    line-height: 50px;
    margin-right: 20px;
}

.nav-buttons {
    width: 60px;
    height: 35px;
    margin-left: 5px;
}