.wrapper {
    width: 610px;
    border: 0;
}

.my-table {
    margin: 0 auto;
    width: 610px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 0px;
    border-bottom: 0px;
    border-collapse: collapse;
}