.header-row {
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid black;
    background-color: lightgray;
    margin: 0;
}

.header {
    width: 200px;
    margin: 0;
    border-right: 1px solid black;
}

.header:last-of-type{
    width: 96px;
}

.icon-ascending::before {
    float: right;
    width: 10px;
    content: 'a';
    margin-right: 15px;
    margin-left: -25px;
}

.icon-descending::before {
    float: right;
    width: 10px;
    content: 'd';
    margin-right: 15px;
    margin-left: -25px;
}

.icon-sorting {
    float: right;
    width: 10px;
    margin-right: 15px;
    margin-left: -25px;
}